body {
  /* main background color */
  background-color: #ffffff;
}

img {
  /* basic rules for pictures */
  max-width: 100%;
  display: block;
  height: auto;
}

.logo {
  /* Possition of Logo */
  padding: 5px 5px 5px 100px;
  width: 150px;
  display: flex;
  margin: 0px;
}

.welcame {
  /* Possition of image 'Welcome to Redacademy' */
  width: 100%;
  display: block;
  padding: 10px 20px 0px 5px;
  margin: 1px;
}

.topmenu {
  /* Possition of menu (navigation) */
  position: absolute;
  top: 10px;
  right: 50px;
  width: 200px;
}

.topmenu ul {
  /* Horizontal menu and location of menu */
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px 50px 10px 0px;
  margin: 0px;
}

.topmenu li {
  /* Color and type of font of menu */
  min-height: 25px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

.topmenu li a {
  /* Color of font of menu */
  color: #333333;
  text-decoration: none;
}

.text1 {
  /* General rules for header#1 */
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  font: bold;
}

.box1 {
  /* Rules of text after header#1*/
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  padding-right: 300px;
  padding-left: 300px;
  padding-top: 0px;
}

.line1 {
  /* Possition of line after text block */
  padding: 0px 5px 0px 5px;
}

.text2 {
  /* General rules for header#2 */
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
}

.box2 {
  /* Rules of text after header#2 */
  color: #333333;
  text-decoration: none;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}

form {
  /* Rules of form "Input" */
  color: #333333;
  padding: 20px 300px 80px 300px;
  margin: 0px;
  font-weight: 300;
  font-size: 12px;
}

input[type="text"] {
  /* Rules of folder of form "Input"  */
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 600px;
  border: none;
  border-bottom: 1px solid #ccc;
}

input[type="submit"] {
  /* Button Type */
  background-color: #f44336;
  border: none;
  color: white;
  padding: 1em 3em;
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
}

.box3 {
  /* Roles for footer*/
  background-image: url("/My pictures/Back-for-Web-black.gif");
  width: 100%;
  height: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  margin: -20px 0px 0px 0px;
}

.box3 p {
  /* Possition of footer*/
  padding: 50px 0px;
}
